@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <p>Learn about <a asp-action="index">Index</a>.</p>
    <p>Learn about <a asp-action="index2">Index 2</a>.</p>
    <p>Learn about <a asp-action="index3">Index 3</a>.</p>
    <p>Learn about <a asp-action="index4">Index 4</a>.</p>
</div>
<main>
    <ul class="index5">
        <li><a href="mailto:test5-01@code.edu.az">test5-01@code.edu.az</a></li>
        <li><a href="mailto:test5-02@code.edu.az">test5-02@code.edu.az</a></li>
        <li><a href="mailto:test5-03@code.edu.az">test5-03@code.edu.az</a></li>
        <li><a href="mailto:test5-04@code.edu.az">test5-04@code.edu.az</a></li>
        <li><a href="mailto:test5-05@code.edu.az">test5-05@code.edu.az</a></li>
        <li><a href="mailto:test5-06@code.edu.az">test5-06@code.edu.az</a></li>
        <li><a href="mailto:test5-07@code.edu.az">test5-07@code.edu.az</a></li>
        <li><a href="mailto:test5-08@code.edu.az">test5-08@code.edu.az</a></li>
        <li><a href="mailto:test5-09@code.edu.az">test5-09@code.edu.az</a></li>
        <li><a href="mailto:test5-10@code.edu.az">test5-10@code.edu.az</a></li>
        <li><a href="mailto:test5-11@code.edu.az">test5-11@code.edu.az</a></li>
        <li><a href="mailto:test5-12@code.edu.az">test5-12@code.edu.az</a></li>
        <li><a href="mailto:test5-13@code.edu.az">test5-13@code.edu.az</a></li>
        <li><a href="mailto:test5-14@code.edu.az">test5-14@code.edu.az</a></li>
        <li><a href="mailto:test5-15@code.edu.az">test5-15@code.edu.az</a></li>
        <li><a href="mailto:test5-16@code.edu.az">test5-16@code.edu.az</a></li>
        <li><a href="mailto:test5-17@code.edu.az">test5-17@code.edu.az</a></li>
        <li><a href="mailto:test5-18@code.edu.az">test5-18@code.edu.az</a></li>
        <li><a href="mailto:test5-19@code.edu.az">test5-19@code.edu.az</a></li>
        <li><a href="mailto:test5-20@code.edu.az">test5-20@code.edu.az</a></li>
        <li><a href="mailto:test5-21@code.edu.az">test5-21@code.edu.az</a></li>
        <li><a href="mailto:test5-22@code.edu.az">test5-22@code.edu.az</a></li>
        <li><a href="mailto:test5-23@code.edu.az">test5-23@code.edu.az</a></li>
        <li><a href="mailto:test5-24@code.edu.az">test5-24@code.edu.az</a></li>
        <li><a href="mailto:test5-25@code.edu.az">test5-25@code.edu.az</a></li>
        <li><a href="mailto:test5-26@code.edu.az">test5-26@code.edu.az</a></li>
        <li><a href="mailto:test5-27@code.edu.az">test5-27@code.edu.az</a></li>
        <li><a href="mailto:test5-28@code.edu.az">test5-28@code.edu.az</a></li>
        <li><a href="mailto:test5-29@code.edu.az">test5-29@code.edu.az</a></li>
        <li><a href="mailto:test5-30@code.edu.az">test5-30@code.edu.az</a></li>
        <li><a href="mailto:test5-31@code.edu.az">test5-31@code.edu.az</a></li>
        <li><a href="mailto:test5-32@code.edu.az">test5-32@code.edu.az</a></li>
        <li><a href="mailto:test5-33@code.edu.az">test5-33@code.edu.az</a></li>
        <li><a href="mailto:test5-34@code.edu.az">test5-34@code.edu.az</a></li>
        <li><a href="mailto:test5-35@code.edu.az">test5-35@code.edu.az</a></li>
        <li><a href="mailto:test5-36@code.edu.az">test5-36@code.edu.az</a></li>
        <li><a href="mailto:test5-37@code.edu.az">test5-37@code.edu.az</a></li>
        <li><a href="mailto:test5-38@code.edu.az">test5-38@code.edu.az</a></li>
        <li><a href="mailto:test5-39@code.edu.az">test5-39@code.edu.az</a></li>
        <li><a href="mailto:test5-40@code.edu.az">test5-40@code.edu.az</a></li>
        <li><a href="mailto:test5-41@code.edu.az">test5-41@code.edu.az</a></li>
        <li><a href="mailto:test5-42@code.edu.az">test5-42@code.edu.az</a></li>
        <li><a href="mailto:test5-43@code.edu.az">test5-43@code.edu.az</a></li>
        <li><a href="mailto:test5-44@code.edu.az">test5-44@code.edu.az</a></li>
        <li><a href="mailto:test5-45@code.edu.az">test5-45@code.edu.az</a></li>
        <li><a href="mailto:test5-46@code.edu.az">test5-46@code.edu.az</a></li>
        <li><a href="mailto:test5-47@code.edu.az">test5-47@code.edu.az</a></li>
        <li><a href="mailto:test5-48@code.edu.az">test5-48@code.edu.az</a></li>
        <li><a href="mailto:test5-49@code.edu.az">test5-49@code.edu.az</a></li>
        <li><a href="mailto:test5-50@code.edu.az">test5-50@code.edu.az</a></li>
    </ul>
</main>
