@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <p>Learn about <a asp-action="index">Index</a>.</p>
    <p>Learn about <a asp-action="index2">Index 2</a>.</p>
    <p>Learn about <a asp-action="index4">Index 4</a>.</p>
    <p>Learn about <a asp-action="index5">Index 5</a>.</p>
</div>
<main>
    <ul class="index3">
        <li><a href="mailto:test3-01@code.edu.az">test3-01@code.edu.az</a></li>
        <li><a href="mailto:test3-02@code.edu.az">test3-02@code.edu.az</a></li>
        <li><a href="mailto:test3-03@code.edu.az">test3-03@code.edu.az</a></li>
        <li><a href="mailto:test3-04@code.edu.az">test3-04@code.edu.az</a></li>
        <li><a href="mailto:test3-05@code.edu.az">test3-05@code.edu.az</a></li>
        <li><a href="mailto:test3-06@code.edu.az">test3-06@code.edu.az</a></li>
        <li><a href="mailto:test3-07@code.edu.az">test3-07@code.edu.az</a></li>
        <li><a href="mailto:test3-08@code.edu.az">test3-08@code.edu.az</a></li>
        <li><a href="mailto:test3-09@code.edu.az">test3-09@code.edu.az</a></li>
        <li><a href="mailto:test3-10@code.edu.az">test3-10@code.edu.az</a></li>
        <li><a href="mailto:test3-11@code.edu.az">test3-11@code.edu.az</a></li>
        <li><a href="mailto:test3-12@code.edu.az">test3-12@code.edu.az</a></li>
        <li><a href="mailto:test3-13@code.edu.az">test3-13@code.edu.az</a></li>
        <li><a href="mailto:test3-14@code.edu.az">test3-14@code.edu.az</a></li>
        <li><a href="mailto:test3-15@code.edu.az">test3-15@code.edu.az</a></li>
        <li><a href="mailto:test3-16@code.edu.az">test3-16@code.edu.az</a></li>
        <li><a href="mailto:test3-17@code.edu.az">test3-17@code.edu.az</a></li>
        <li><a href="mailto:test3-18@code.edu.az">test3-18@code.edu.az</a></li>
        <li><a href="mailto:test3-19@code.edu.az">test3-19@code.edu.az</a></li>
        <li><a href="mailto:test3-20@code.edu.az">test3-20@code.edu.az</a></li>
        <li><a href="mailto:test3-21@code.edu.az">test3-21@code.edu.az</a></li>
        <li><a href="mailto:test3-22@code.edu.az">test3-22@code.edu.az</a></li>
        <li><a href="mailto:test3-23@code.edu.az">test3-23@code.edu.az</a></li>
        <li><a href="mailto:test3-24@code.edu.az">test3-24@code.edu.az</a></li>
        <li><a href="mailto:test3-25@code.edu.az">test3-25@code.edu.az</a></li>
        <li><a href="mailto:test3-26@code.edu.az">test3-26@code.edu.az</a></li>
        <li><a href="mailto:test3-27@code.edu.az">test3-27@code.edu.az</a></li>
        <li><a href="mailto:test3-28@code.edu.az">test3-28@code.edu.az</a></li>
        <li><a href="mailto:test3-29@code.edu.az">test3-29@code.edu.az</a></li>
        <li><a href="mailto:test3-30@code.edu.az">test3-30@code.edu.az</a></li>
        <li><a href="mailto:test3-31@code.edu.az">test3-31@code.edu.az</a></li>
        <li><a href="mailto:test3-32@code.edu.az">test3-32@code.edu.az</a></li>
        <li><a href="mailto:test3-33@code.edu.az">test3-33@code.edu.az</a></li>
        <li><a href="mailto:test3-34@code.edu.az">test3-34@code.edu.az</a></li>
        <li><a href="mailto:test3-35@code.edu.az">test3-35@code.edu.az</a></li>
        <li><a href="mailto:test3-36@code.edu.az">test3-36@code.edu.az</a></li>
        <li><a href="mailto:test3-37@code.edu.az">test3-37@code.edu.az</a></li>
        <li><a href="mailto:test3-38@code.edu.az">test3-38@code.edu.az</a></li>
        <li><a href="mailto:test3-39@code.edu.az">test3-39@code.edu.az</a></li>
        <li><a href="mailto:test3-40@code.edu.az">test3-40@code.edu.az</a></li>
        <li><a href="mailto:test3-41@code.edu.az">test3-41@code.edu.az</a></li>
        <li><a href="mailto:test3-42@code.edu.az">test3-42@code.edu.az</a></li>
        <li><a href="mailto:test3-43@code.edu.az">test3-43@code.edu.az</a></li>
        <li><a href="mailto:test3-44@code.edu.az">test3-44@code.edu.az</a></li>
        <li><a href="mailto:test3-45@code.edu.az">test3-45@code.edu.az</a></li>
        <li><a href="mailto:test3-46@code.edu.az">test3-46@code.edu.az</a></li>
        <li><a href="mailto:test3-47@code.edu.az">test3-47@code.edu.az</a></li>
        <li><a href="mailto:test3-48@code.edu.az">test3-48@code.edu.az</a></li>
        <li><a href="mailto:test3-49@code.edu.az">test3-49@code.edu.az</a></li>
        <li><a href="mailto:test3-50@code.edu.az">test3-50@code.edu.az</a></li>
    </ul>
</main>
