@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <p>Learn about <a asp-action="index">Index</a>.</p>
    <p>Learn about <a asp-action="index2">Index 2</a>.</p>
    <p>Learn about <a asp-action="index3">Index 3</a>.</p>
    <p>Learn about <a asp-action="index5">Index 5</a>.</p>
</div>
<main>
    <ul class="index4">
        <li><a href="mailto:test4-01@code.edu.az">test4-01@code.edu.az</a></li>
        <li><a href="mailto:test4-02@code.edu.az">test4-02@code.edu.az</a></li>
        <li><a href="mailto:test4-03@code.edu.az">test4-03@code.edu.az</a></li>
        <li><a href="mailto:test4-04@code.edu.az">test4-04@code.edu.az</a></li>
        <li><a href="mailto:test4-05@code.edu.az">test4-05@code.edu.az</a></li>
        <li><a href="mailto:test4-06@code.edu.az">test4-06@code.edu.az</a></li>
        <li><a href="mailto:test4-07@code.edu.az">test4-07@code.edu.az</a></li>
        <li><a href="mailto:test4-08@code.edu.az">test4-08@code.edu.az</a></li>
        <li><a href="mailto:test4-09@code.edu.az">test4-09@code.edu.az</a></li>
        <li><a href="mailto:test4-10@code.edu.az">test4-10@code.edu.az</a></li>
        <li><a href="mailto:test4-11@code.edu.az">test4-11@code.edu.az</a></li>
        <li><a href="mailto:test4-12@code.edu.az">test4-12@code.edu.az</a></li>
        <li><a href="mailto:test4-13@code.edu.az">test4-13@code.edu.az</a></li>
        <li><a href="mailto:test4-14@code.edu.az">test4-14@code.edu.az</a></li>
        <li><a href="mailto:test4-15@code.edu.az">test4-15@code.edu.az</a></li>
        <li><a href="mailto:test4-16@code.edu.az">test4-16@code.edu.az</a></li>
        <li><a href="mailto:test4-17@code.edu.az">test4-17@code.edu.az</a></li>
        <li><a href="mailto:test4-18@code.edu.az">test4-18@code.edu.az</a></li>
        <li><a href="mailto:test4-19@code.edu.az">test4-19@code.edu.az</a></li>
        <li><a href="mailto:test4-20@code.edu.az">test4-20@code.edu.az</a></li>
        <li><a href="mailto:test4-21@code.edu.az">test4-21@code.edu.az</a></li>
        <li><a href="mailto:test4-22@code.edu.az">test4-22@code.edu.az</a></li>
        <li><a href="mailto:test4-23@code.edu.az">test4-23@code.edu.az</a></li>
        <li><a href="mailto:test4-24@code.edu.az">test4-24@code.edu.az</a></li>
        <li><a href="mailto:test4-25@code.edu.az">test4-25@code.edu.az</a></li>
        <li><a href="mailto:test4-26@code.edu.az">test4-26@code.edu.az</a></li>
        <li><a href="mailto:test4-27@code.edu.az">test4-27@code.edu.az</a></li>
        <li><a href="mailto:test4-28@code.edu.az">test4-28@code.edu.az</a></li>
        <li><a href="mailto:test4-29@code.edu.az">test4-29@code.edu.az</a></li>
        <li><a href="mailto:test4-30@code.edu.az">test4-30@code.edu.az</a></li>
        <li><a href="mailto:test4-31@code.edu.az">test4-31@code.edu.az</a></li>
        <li><a href="mailto:test4-32@code.edu.az">test4-32@code.edu.az</a></li>
        <li><a href="mailto:test4-33@code.edu.az">test4-33@code.edu.az</a></li>
        <li><a href="mailto:test4-34@code.edu.az">test4-34@code.edu.az</a></li>
        <li><a href="mailto:test4-35@code.edu.az">test4-35@code.edu.az</a></li>
        <li><a href="mailto:test4-36@code.edu.az">test4-36@code.edu.az</a></li>
        <li><a href="mailto:test4-37@code.edu.az">test4-37@code.edu.az</a></li>
        <li><a href="mailto:test4-38@code.edu.az">test4-38@code.edu.az</a></li>
        <li><a href="mailto:test4-39@code.edu.az">test4-39@code.edu.az</a></li>
        <li><a href="mailto:test4-40@code.edu.az">test4-40@code.edu.az</a></li>
        <li><a href="mailto:test4-41@code.edu.az">test4-41@code.edu.az</a></li>
        <li><a href="mailto:test4-42@code.edu.az">test4-42@code.edu.az</a></li>
        <li><a href="mailto:test4-43@code.edu.az">test4-43@code.edu.az</a></li>
        <li><a href="mailto:test4-44@code.edu.az">test4-44@code.edu.az</a></li>
        <li><a href="mailto:test4-45@code.edu.az">test4-45@code.edu.az</a></li>
        <li><a href="mailto:test4-46@code.edu.az">test4-46@code.edu.az</a></li>
        <li><a href="mailto:test4-47@code.edu.az">test4-47@code.edu.az</a></li>
        <li><a href="mailto:test4-48@code.edu.az">test4-48@code.edu.az</a></li>
        <li><a href="mailto:test4-49@code.edu.az">test4-49@code.edu.az</a></li>
        <li><a href="mailto:test4-50@code.edu.az">test4-50@code.edu.az</a></li>
    </ul>
</main>
