/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

main {
    background-color: rgb(175, 179, 176);
    padding: 30px;
}

    main ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    main li {
        margin: 5px;
        list-style-type: none;
    }

        main li a {
            position: relative;
            padding: 20px 10px;
            border-radius: 10px;
            font-size: 20px;
            display: inline-block;
            transition: all 0.3s;
            border: 2px solid transparent;
        }

            main li a:hover {
                transform: scale(1.2);
                box-shadow: 0px 0px 15px 5px #0000008c;
                z-index: 1;
            }

            main li a:active {
                transform: scale(1.1);
                box-shadow: 0px 0px 15px 5px black;
            }

    main ul.index1 li a {
        color: rgb(174 213 216);
        background-color: rgb(32, 86, 144);
    }

        main ul.index1 li a:hover {
            color: rgb(32, 86, 144);
            background-color: rgb(50, 205, 216);
            border-color: rgba(6, 4, 95, 0.74);
        }


    main ul.index2 li a {
        color: rgb(180, 216, 174);
        background-color: rgb(34, 144, 32);
    }

        main ul.index2 li a:hover {
            color: rgb(34, 144, 32);
            background-color: rgb(123, 229, 105);
            border-color: rgba(4, 95, 12, 0.74);
        }

    main ul.index3 li a {
        color: rgb(215, 216, 174);
        background-color: rgb(140, 144, 32);
    }

        main ul.index3 li a:hover {
            color: rgb(140, 144, 32);
            background-color: rgb(226, 228, 117);
            border-color: rgba(95, 94, 4, 0.74);
        }

    main ul.index4 li a {
        color: rgb(216, 174, 174);
        background-color: rgb(144, 32, 32);
    }

        main ul.index4 li a:hover {
            color: rgb(144, 32, 32);
            background-color: rgb(234, 107, 107);
            border-color: rgba(95, 4, 4, 0.74);
        }

    main ul.index5 li a {
        color: rgb(196, 174, 216);
        background-color: rgb(88, 32, 144);
    }

        main ul.index5 li a:hover {
            color: rgb(92, 32, 144);
            background-color: rgb(182, 103, 216);
            border-color: rgba(51, 4, 95, 0.74);
        }